.navbar a{
    color: blue;
}
.row{
    background-color: aqua;
    
}

h1{
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: serif,sans-serif;
}
h2{
    color: red;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    font-family: serif,
    sans-serif;
}
p{
    color: rgba(14, 10, 10, 0.924);
    font-weight: bold;
    font-size: 20px;
    font-family: serif,
    sans-serif;
}

.caption{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background: hsla(260, 9%, 93%, 0.672);
}

a :hover{
    background-color: rgb(255, 85, 47);
}

.btn{
    border-radius: 15px;
    background-color: black;
    color: white;
}

.time{
    color: blue;
}

img{
    margin-left: 10%;
}

h5 h3{
    font-family: serif,
    sans-serif;
    font-weight: bold;
}

.api{
    color: red;
}